
.badge-tabs-navigation {

  border-bottom: solid 3px theme-color('dark', 400);
  background-color: theme-color('gray', 200);

  .badge-nav-tabs {

    margin: 0 20px 0 20px;
  
    .dropdown-menu {
      .nav-link {
        display: block;
      }
    }
    .nav-link {

      display: inline-block;
  
      &.active {
        background-color: theme-color('brand', 200);
      }

      &.disabled {
        &:hover,
        &:focus,
        &.active {
          background-color: none !important;
          color: theme-color('light', 400);
        }
      }

      &:hover,
      &:focus {
        background-color: theme-color('brand', 400);
        color: white;
      }

    }
  
  }

  .logo {
    display: block;
    box-sizing: content-box;
    position: relative;
    top: .10em;
    height: 1.75rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    img {
      display: block;
      height: 100%;
    }
  }

}

// Import badge-progress-specific sass files
@import './banner/index.scss';
@import './card/index.scss';
@import './course-list/index.scss';
