
/* BadgeProgressBanner
   --------------------------------------- */

.learningpath-empty {

    .learningpath-empty-header {
  
      span {
          margin-right: 10px;
      }
  
    }
  }
  
  .learningpath {
    background: #f2f2f2;
  
    h2 {
      font-weight: lighter;
      font-size: 30px;
    }
  
  }
  